<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.GradeInfoMapper">

    <resultMap type="GradeInfo" id="GradeInfoResult">
        <result property="gradeId" column="grade_id"/>
        <result property="courseId" column="course_id"/>
        <result property="score" column="score"/>
        <result property="gradeDesc" column="grade_desc"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectGradeInfoVo">
        select grade_id,
               course_id,
               score,
               grade_desc,
               user_id,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from tb_grade_info
    </sql>

    <select id="selectGradeInfoList" parameterType="GradeInfo" resultMap="GradeInfoResult">
        <include refid="selectGradeInfoVo"/>
        <where>
            <if test="gradeId != null ">and grade_id = #{gradeId}</if>
            <if test="courseId != null ">and course_id = #{courseId}</if>
            <if test="gradeDesc != null  and gradeDesc != ''">and grade_desc = #{gradeDesc}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="createBy != null  and createBy != ''">and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by &lt;= #{updateBy}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
        </where>
    </select>

    <select id="selectGradeInfoByGradeId" parameterType="Long" resultMap="GradeInfoResult">
        <include refid="selectGradeInfoVo"/>
        where grade_id = #{gradeId}
    </select>

    <insert id="insertGradeInfo" parameterType="GradeInfo" useGeneratedKeys="true" keyProperty="gradeId">
        insert into tb_grade_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="score != null">score,</if>
            <if test="gradeDesc != null">grade_desc,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="score != null">#{score},</if>
            <if test="gradeDesc != null">#{gradeDesc},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateGradeInfo" parameterType="GradeInfo">
        update tb_grade_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="gradeDesc != null">grade_desc = #{gradeDesc},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where grade_id = #{gradeId}
    </update>

    <delete id="deleteGradeInfoByGradeId" parameterType="Long">
        delete
        from tb_grade_info
        where grade_id = #{gradeId}
    </delete>

    <delete id="deleteGradeInfoByGradeIds" parameterType="String">
        delete from tb_grade_info where grade_id in
        <foreach item="gradeId" collection="array" open="(" separator="," close=")">
            #{gradeId}
        </foreach>
    </delete>
</mapper>
